/Presentations/2019/10.October/08/.ipynb_checkpoints
/Presentations/2019/10.October/29/.ipynb_checkpoints
/Presentations/2019/11.November/05/.ipynb_checkpoints/AdaGrad-Worksheet-checkpoint.ipynb
/Presentations/2019/11.November/05/.ipynb_checkpoints/AdaGrad-checkpoint.ipynb
/Presentations/2019/11.November/05/.ipynb_checkpoints/AdaGrad_solutions-checkpoint.ipynb
